/models/openscene/data/
/models/openscene/demo/openscene_features/
/dataset/*
!/dataset/get_replica_dataset.sh
!/dataset/*.py
!/dataset/Data_Handling.ipynb
!/dataset/requirements.txt
.DS_Store
.ipynb_checkpoints/
